<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Email Verification</title>
</head>
<body>
<p>Hello,</p>
<p>Click the link below to verify your email:</p>
<a th:href="${verificationLink}">Verify Email</a>
</body>
</html>
